.nav__cb {
    display: none;
}

@media only screen and (max-width: 1092px) {
    .banner-container {
        display: none;
    }


    .banner-container .white-segment {
        position: static;
    }

    .banner-container.owl-carousel .owl-dots .owl-dot span {
        margin-bottom: 70px;
    }

    main section .container {
        padding-bottom: 99px;
        text-align: center;
        justify-content: center;
        display: block;
        margin: 0 auto;

    }

    main section div article p {
        margin: auto;
    }

    main section div article form {
        margin: 0 auto 100px;
    }

    .how-it-works {
        display: flow;
        text-align: center;
        padding-top: 70px;
    }

    .how-it-works div h2 {
        margin-bottom: 0px;
        text-align: center;
        font-size: 32px;
        margin: auto;
    }

    .how-it-works div {
        max-width: none;
        min-height: fit-content;
        margin-bottom: 50px;
    }

    .how-it-works-descriprion article p {
        text-align: center !important;
        margin: auto !important;
        margin-bottom: 15px !important;
    }

    .how-it-works-descriprion {
        padding-bottom: 20px;
    }

    .explanation_section img {
        display: none;
    }

    .explanation_section.container article {
        text-align: center;
    }

    .explanation_section article h3 {
        margin-bottom: 15px;
    }

    .explanation_section article p {
        margin-bottom: 15px;
    }

    .explanation_section article:first-of-type p {
        text-align: center !important;

    }

    .explanation_section article:first-of-type h3 {
        margin-top: 22px;
        text-align: center;
    }

    .explanation_section article:last-of-type p {

        text-align: center !important;
    }

    .explanation_section article:last-of-type h3 {
        text-align: center;

    }

    .explanation_section article:nth-of-type(3) p {
        text-align: center !important;
    }

    .explanation_section article:nth-of-type(3) h3 {
        text-align: center;
    }

    .section-with-cards {
        padding: 30px 0;
    }

    .section-with-cards .banner-container {
        display: block;
        flex-wrap: wrap;
    }

    .quote-section {
        padding: 12px;
    }

    .quote-section .white-segment {
        display: block;
    }

    .quote-section .white-segment div:first-of-type p {
        margin-bottom: 30px;
    }

    .quote-section h4 {
        margin-top: 25px;
    }

    .quote-section h4::after {
        margin-top: 100px;
        font-size: 72px;
        line-height: 50px;
    }

    .seem-on-section .container div {
        flex-wrap: wrap;
        justify-content: space-around;

    }

    .seem-on-section .container div a {
        margin-bottom: 12px;
    }

    .form-section .white-segment div:first-child {
        border-right: none;
        padding-right: 0;
    }

    .form-section {
        padding-bottom: 70px;
    }

    .footer-secton .container div {
        justify-content: space-around;
    }

    .footer-secton .container div:last-child {
        display: inline-block;
        vertical-align: middle
    }

    .footer-secton div div>a:first-child {
        display: block;
        margin-bottom: 12px;
    }

    .footer-secton div>p {
        margin: 0 auto 12px;
    }

    main section .container {
        padding-bottom: 50px;
    }

    .footer-secton {
        padding: 0;
    }

    .footer-secton {
        padding-top: 30px;
    }
    .footer-secton div div div ul {
        margin-bottom: 30px;
    }
    .main_section .container article {
        padding-bottom: 50px;
    }
}
    @media only screen and (max-width: 530px) {
        header {
            padding: 25px 0 40px;
        }

        h1 {
            font-size: 42px;
            margin-bottom: 10px;
        }

        h2 {
            padding: 0 12px;
        }

        h3 {
            padding: 0 12px;
        }

        h4 {
            padding: 0 12px;
        }

        h5 {
            padding: 0 12px;
        }

        p {
            padding: 0 12px;
        }


        .nav {
            overflow: hidden;
            height: 90px;
            margin-top: -45px;

        }

        .nav__cb {
            z-index: -1000;
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0;
            pointer-events: none;
        }

        .nav__content {
            position: relative;
            width: 90px;
            height: 100%;
            transition: width 1s cubic-bezier(0.49, -0.3, 0.68, 1.23);
        }

        .nav__cb:checked~.nav__content {
            transition: width 1s cubic-bezier(0.48, 0.43, 0.29, 1.3);
            width: 500px;
            top: 7px;
        }

        .nav__cb:checked~.swer {
            display: none;
        }

        .nav__items {
            position: relative;
            right: 20px;
            width: 350px;
            height: 100%;
            margin-top: 15px;
            list-style-type: none;
            font-size: 0;
        }

        .nav__item {
            display: inline-block;
            vertical-align: top;
            width: 20px;
            text-align: center;
            color: #6C7784;
            font-size: 14px;
            line-height: 90px;
            font-family: Helvetica, Arial, sans-serif;
            font-weight: bold;
            perspective: 1000px;
            transition: color 0.3s;
            cursor: pointer;
        }

        .nav__item-text {
            display: block;
            height: 100%;
            transform: rotateY(-70deg);
            opacity: 0;
            transition: transform 0.7s cubic-bezier(0.48, 0.43, 0.7, 2.5), opacity 0.7s;
        }

        .nav__cb:checked~.nav__content .nav__item-text {
            transform: rotateY(0);
            opacity: 1;
            transition: transform 0.7s cubic-bezier(0.48, 0.43, 0.7, 2.5), opacity 0.2s;
        }

        .nav__item:nth-child(1) .nav__item-text {
            transition-delay: 0.3s;
        }

        .nav__cb:checked~.nav__content .nav__item:nth-child(1) .nav__item-text {
            transition-delay: 0s;
        }

        .nav__item:nth-child(2) .nav__item-text {
            transition-delay: 0.2s;
        }

        .nav__cb:checked~.nav__content .nav__item:nth-child(2) .nav__item-text {
            transition-delay: 0.1s;
        }

        .nav__item:nth-child(3) .nav__item-text {
            transition-delay: 0.1s;
        }

        .nav__cb:checked~.nav__content .nav__item:nth-child(3) .nav__item-text {
            transition-delay: 0.2s;
        }

        .nav__item:nth-child(4) .nav__item-text {
            transition-delay: 0s;
        }

        .nav__cb:checked~.nav__content .nav__item:nth-child(4) .nav__item-text {
            transition-delay: 0.3s;
        }

        .form-section .container {
            padding: 30px 0;
        }

        .form-section {
            padding: 0 0 30px;
        }

        .seem-on-section .container {
            padding: 30px 0;
        }

        .form-section .white-segment {
            position: static;
            display: block;
        }

        .form-section .white-segment div:first-child {
            padding: 0;
            border: none;
        }

        .footer-secton div div+div>ul {
            margin: 0;
        }

        .footer-secton div {
            justify-content: space-around;
        }

        .footer-secton {
            padding-bottom: 0;
        }

        main section .container:last-child {
            padding-bottom: 12px;
        }

        main section div article form {
            margin: 0 auto 45px;
        }

        main section .container {
            padding-bottom: 50px;
        }

        .footer-secton div div div ul {
            margin-bottom: 50px;
        }

        .seem-on-section .container>div {
            flex-wrap: wrap;
        }

        .seem-on-section .container>div a {
            margin: 0 auto 12px;

        }

        .nav__btn {
            position: absolute;
            right: 0px;
            top: 0px;
            padding: 36px 31px;
            cursor: pointer;
        }

        .nav__btn:before,
        .nav__btn:after {
            content: "";
            display: block;
            width: 28px;
            height: 4px;
            border-radius: 2px;
            background: #096DD3;
            transform-origin: 50% 50%;
            transition: transform 1s cubic-bezier(0.48, 0.43, 0.29, 1.3), background-color 0.3s;
        }

        .nav__btn:before {
            margin-bottom: 10px;
        }

        .nav__btn:hover:before,
        .nav__btn:hover:after {
            background: #00bdea;
        }

        .nav__cb:checked~.nav__btn:before {
            transform: translateY(7px) rotate(-225deg);
        }

        .nav__cb:checked~.nav__btn:after {
            transform: translateY(-7px) rotate(225deg);
        }

        .faq h3 {
            margin-bottom: 40px;
        }

        .faq {
            padding: 30px 0 0;

        }

        header div {
            justify-content: space-between;
        }

        .owl-carousel .owl-item img {
            max-width: 100%;
        }

        .quote-section {
            padding: 100px 12px 40px;
        }

        .quote-section h5 {
            font-size: 20px;
        }

        .quote-section h4 {
            margin-top: 80px;
        }

        .quote-section h4::after {
            font-size: 72px;
            margin-top: 0;
        }

        .white-segment {
            padding: 30px 0;
        }

        .relief-section {
            padding-top: 90px;
        }

        .main_section {
            padding-bottom: 140px;
        }

        .banner-container.owl-carousel .owl-nav .owl-next,
        .owl-prev {
            display: none;
        }

    }

    @media only screen and (max-width: 380px) {
        main section div article form input {
            margin: auto;
        }
    }